# Matplotlib Challenge
You've just joined Pymaceuticals, Inc., a new pharmaceutical company that specializes in anti-cancer medications. Recently, it began screening for potential treatments for squamous cell carcinoma (SCC), a commonly occurring form of skin cancer. As a senior data analyst at the company, you've been given access to the complete data from their most recent animal study. In this study, 249 mice who were identified with SCC tumors received treatment with a range of drug regimens. Over the course of 45 days, tumor development was observed and measured. The purpose of this study was to compare the performance of Pymaceuticals’ drug of interest, Capomulin, against the other treatment regimens. The executive team has tasked you with generating all of the tables and figures needed for the technical report of the clinical study. They have also asked you for a top-level summary of the study results.
This assignment is broken down into the following tasks:
- Prepare the data.
- Generate summary statistics.
- Create bar charts and pie charts.
- Calculate quartiles, find outliers, and create a box plot.
- Create a line plot and a scatter plot.
- Calculate correlation and regression.
- Submit your final analysis.

In [1]:
#importing modules
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy

In [2]:
#reading the data and checking out
df_mouseMetadata = pd.read_csv('./data/Mouse_metadata.csv')
df_studyresults = pd.read_csv('./data/Study_results.csv')
df_mouseMetadata

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [3]:
df_studyresults

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [69]:
#Merging the df
df_complete = pd.merge(df_studyresults,df_mouseMetadata)
df_complete

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
...,...,...,...,...,...,...,...,...
1888,m601,25,33.118756,1,Capomulin,Male,22,17
1889,m601,30,31.758275,1,Capomulin,Male,22,17
1890,m601,35,30.834357,1,Capomulin,Male,22,17
1891,m601,40,31.378045,1,Capomulin,Male,22,17
1892,m601,45,28.430964,1,Capomulin,Male,22,17

Display the number of unique mice IDs in the data, and then check for any mouse ID with duplicate time points. Display the data associated with that mouse ID, and then create a new DataFrame where this data is removed. Use this cleaned DataFrame for the remaining steps.

In [70]:
#Pirnting how many Unique mouse are they
len(df_complete['Mouse ID'].unique())

249

In [71]:
#Cleaning Duplicates

df_complete[df_complete['Mouse ID']=='g989']

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26
870,g989,25,56.045564,1,Propriva,Female,21,26
871,g989,30,59.082294,1,Propriva,Female,21,26
872,g989,35,62.570880,2,Propriva,Female,21,26

In [74]:
df_complete = df_complete.drop_duplicates(subset=['Mouse ID','Timepoint'])

In [75]:
df_complete[df_complete['Mouse ID']=='g989']

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26
870,g989,25,56.045564,1,Propriva,Female,21,26
871,g989,30,59.082294,1,Propriva,Female,21,26
872,g989,35,62.570880,2,Propriva,Female,21,26

In [87]:

list_drug_regimen = list(df_complete['Drug Regimen'].unique())
list_means = list(df_complete.groupby('Drug Regimen')['Tumor Volume (mm3)'].mean())
list_medians = list(df_complete.groupby('Drug Regimen')['Tumor Volume (mm3)'].median())
list_variance = list(df_complete.groupby('Drug Regimen')['Tumor Volume (mm3)'].var())
list_std = list(df_complete.groupby('Drug Regimen')['Tumor Volume (mm3)'].std())
list_sem = list(df_complete.groupby('Drug Regimen')['Tumor Volume (mm3)'].sem())
df

['Capomulin',
 'Ketapril',
 'Naftisol',
 'Infubinol',
 'Stelasyn',
 'Ramicane',
 'Propriva',
 'Zoniferol',
 'Placebo',
 'Ceftamin']

In [90]:
df_data  = pd.DataFrame({
    'Drug Regimen':list_drug_regimen,
    'Mean': list_means,
    'Median':list_medians,
    'variance':list_variance,
    'Standar dev':list_std,
    'SEM': list_sem
})
df_data = df_data.set_index('Drug Regimen')
df_data

                   Mean     Median   variance  Standar dev       SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764     4.994774  0.329346
Ketapril      52.591172  51.776157  39.290177     6.268188  0.469821
Naftisol      52.884795  51.820584  43.128684     6.567243  0.492236
Infubinol     55.235638  53.698743  68.553577     8.279709  0.603860
Stelasyn      54.331565  52.509285  66.173479     8.134708  0.596466
Ramicane      54.033581  52.288934  61.168083     7.821003  0.581331
Propriva      52.393463  50.909965  43.138803     6.568014  0.525862
Zoniferol     40.216745  40.673236  23.486704     4.846308  0.320955
Placebo       54.233149  52.431737  59.450562     7.710419  0.573111
Ceftamin      53.236507  51.818479  48.533355     6.966589  0.516398